<div class="ImgCad"> 

<div class = "Til">
    <form name = "Form">
        <h2> Cadastre-se </h2>

        <div id = "Bloco">
            <label for = "Nome"> Nome: </label>
                <br>
            <input type = "Tex" id = "NomeId" placeholder = "Ex: Ary" name = "Nome" />
                <br>
            <label for = "Sobrenome"> Sobrenome: </label>
                <br>
            <input type = "Tex" id = "SobreId" placeholder = "Ex: Soares" name = "Sobre" />
                <br>
            <label for = "Idade"> Idade: </label>
                <br>    
            <input type = "Idade" id = "IdadeId" placeholder = "Ex: 18" name = "Idade" />
                <br>
            <label for = "Tamanho"> Sexo: </label>
                <br>
            <select id = tam>
                <option value = "" > Selecione </option>
                <option value = "M" > Masculino </option>
                <option value = "F" > Feminino </option>
                <option value = "N" > Não Especificar </option>
            </select>
                <br>
            <label for = "Fone"> Fone: </label>
                <br>    
            <input type = "Tel" id = "FoneId" placeholder = "Ex: (xx) xx-xx-xx-xx" name = "Fone" />
                <br>
            <label for = "End"> Endereço: </label>
                <br>    
            <input type = "End" id = "EndId" placeholder = "Ex: Rua () Quadra () Lote ()" name = "End" />
                <br>
            <label for = "Cep"> CEP: </label>
                <br>    
            <input type = "Cep" id = "CepId" placeholder = "Ex: 75590 - 000" name = "End" />
                <br>
            <label for = "Email"> Email: </label>
                <br>
            <input type = "Email" id = "EmailId" placeholder = "Ex: Ary@gmail.com" name = "Email" />
                <br>
            <label for = "Senha"> Senha: </label>
                <br>
            <input type = "Senha" id = "SenhaId" placeholder = "***********" name = "Senha" />
                <br>
            <label for = "SenhaC"> Confirmar Senha: </label>
                <br>
            <input type = "SenhaC" id = "SenhaCId" placeholder = "***********" name = "SenhaC" />
                <br> <br>
            <div id = "Selec">
                <label for = ""> Aceita o uso de dados ? </label>
                    <br>
                Sim<INPUT TYPE ="RADIO" NAME = "OPCAO" VALUE = "Op1">
                Não<INPUT TYPE = "RADIO" NAME = "OPCAO" VALUE = "Op2">
            </div>
        </div>
    </form>
</div>
<div class = "Buton" onclick = "Cad()">
    Cadastrar
</div>
</div>