
    <nav>
        <div class = "Alin">
            <div class="Img" style="width: auto;">
                <img id = "MenuImg" src = "https://i.pinimg.com/564x/88/d7/ce/88d7ce662116a44f8686001e40812416.jpg" alt = "Logo do Site">
            </div>
            <div class = "Log" style = "width: auto;">
                <h1 style = "align-self: auto;"> <a href = "index.html"> Laila Deliciu´s Sorveteria </a> </h1>
            </div>
        </div>
        <button> &#9776; </button>
        <ul>

        <li> <p id = "MC"> <a routerLink = "/cardapio"> CARDAPIO </a> </p> </li>

        <li>
            <p id = "MC"> <a routerLink = "/picoles"> PICOLES </a> </p>
        </li>
        
        <li>
            <p id = "MC"> <a routerLink = "/comprar" > COMPRAR </a> </p>
        </li>

        <li>
            <p id = "MC"> <a routerLink = "/cadastro"> CADASTRO </a> </p>
        </li>
        <li>
            <p id = "MC"> <a routerLink = "/sobrenos"> SOBRE NÓS  </a> </p>
        </li>
        <li> 
            <p> <a href="https://arisasoares.github.io/AriSaSoares.github.ioWEB/"> ATIVIDADES </a> </p>
        </li>

        <li>
            <p id = "MC"> <a href = "https://mellow-parfait-b2f711.netlify.app/"> Projeto Final da Sala</a> </p>
        </li>
    </ul>
    
</nav> 



