<div class="ImgCad">


<div class = "Card">
</div>
<div class = "Til">
    <img id = "ImgLin" src = "https://i.pinimg.com/236x/bc/e2/61/bce2612f6325d4d97317ac5ee62da3a5.jpg" alt = "Os Mais Pedidos">
</div>
<div class = "Til">
    <div class = "Camp">
        <h2> Confira aqui os Tops do Ranking  </h2>
    </div>
    <div>
        <p>  Ninho Trufado  </p>
        <p>  Choco Black </p>
        <p>  Leite Ninho com Nutella </p>
        <p>  Café com Leite Condensado </p>
        <p>  ChocoNinho </p>
        <p>  Nutella </p>
        <p>  Kit Kat </p>
    </div>
</div> 
<div class = "Til">
    <div class = "Camp">
        <h2> Sobre nossos produtos </h2>
    </div>
    <div>
        <p> Todos os sorvetes são preparados e escolhidos com os melhores ingredientes disponivel no mercado, 
            para que você nosso cliente possa desfrutar do melhor de nossa sorveteria assim como você realmente merece. </p>
    
    </div>
</div>
<div class = "Buton" onclick = "CalcB()">
    Fazer Pedido
</div>
</div>