body {
font-family: Helvetica, sans-serif;
padding: 5%;
text-align: center;
font-size: 50;
}


#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
  }

  
  .slide {
    float: left;
    height: 510px;
    width: 728px;
  }

  .slide-wrapper {

    
    width: calc(728px 4);

    
    animation: slide 10s ease infinite;
  }

  
  .slide:nth-child(1) {
    background-image: url("https://i.pinimg.com/736x/68/fe/5b/68fe5b1d0ff0ddd236c4e3a8cb85eb6d.jpg ");
  }

  .slide:nth-child(2) {
    background-image: url("https://i.pinimg.com/564x/00/03/4e/00034e91e71e9750a58118cf720e68c3.jpg ");
  }

  .slide:nth-child(3) {
    background-image: url("https://i.pinimg.com/564x/4d/b3/f0/4db3f0ad3d0099b1a0f2a1e42bcef2f7.jpg");
  }

  .slide:nth-child(4) {
    background-image: url("https://i.pinimg.com/564x/c7/0e/12/c70e12f64c73dc83ffa5103fec84c92a.jpg");
  }

  
  @keyframes slide {


    20% {
      margin-left: 0px;
    }

    40% {
      margin-left: calc(-728px 1);
    }

    60% {
      margin-left: calc(-728px * 2);
    }

    80% {
      margin-left: calc(-728px * 3);
    }
  }