<div class="ImgCad">


<div class = "Til"> 
    <div class = "Camp">
        <h2> Sabores  </h2>
    </div>
    <div>
        <p> Chocolate </p>
        <p> Creme  </p>
        <p> Uva </p>
        <p> Leite Condensado  </p>
        <p> Milho verde </p> 
        <p> Morango</p>
        <p> Cupuaçu </p>
        <p> Coco Branco</p>
        <p> Açai</p>
        <p> Graviola</p>
        
    </div>
</div> 
<div class = "Til">
    <div class = "Camp">
        <h2> Sobre nossos produtos </h2>
    </div>
    <div>
        <p> 
            Aqui você encontra vários Picolés tipos do Goiás e com uma qualidade única e todos os nossos produtos são preparados e escolhidos com os melhores ingredientes disponivel no mercado, 
            para que você nosso cliente possa desfrutar do melhor de nossa sorveteria assim como você realmente merece.  </p>
       
    </div>
</div>
<div class = "Buton" onclick = "CalcP()">
    Fazer Pedido
</div>
</div>