<div class="ImgCad">


<div class = "Til">
    <h2> Laila Deliciu´s Sorveteria  </h2>
 </div>
 <div class = "Til">
     <img id = "ImgLin" src = " https://i.pinimg.com/564x/88/d7/ce/88d7ce662116a44f8686001e40812416.jpg" alt = "Sobre Nós">
 </div>
 <div class = "Til">
     <div class = "Camp">
         <h2> Sobre Nós  </h2>
     </div>
     <div>
         <p> Somos uma sorveteria que tem como intuito o comprometimento em fornecer sorvetes frescos e deliciosos. 
             Nossos ingredientes são cuidadosamente selecionados para garantir a melhor qualidade para os nossos clientes,
              gerando então excelência e qualidade em tudo que é disponibilizado dentro da nossa sorveteria . </p>
         
     </div>
 </div> 
 <div class = "Til">
     <div class = "Camp">
         <h2> © 2023 Laila Deliciu´s Sorveteria</h2>
     </div>
 </div>
</div>